<html xmlns:th="http://www.thymeleaf.org">
<!-- 	<nav th:fragment="navbar" class="row navbar navbar-expand-lg navbar-dark bg-dark"> -->
<!--         <a class="navbar-brand" href="/index.html"> -->
<!--             <img src="/images/logo_alpha.png" width="105" height="50" alt="SpringCar company logo"> -->
<!--         </a> -->

<!--         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" -->
<!--                 aria-label="Toggle navigation"> -->
<!--             <span class="navbar-toggler-icon"></span> -->
<!--         </button> -->

<!--         <div class="navbar-collapse collapse" id="navbarSupportedContent text-success"> -->
<!--             <ul class="navbar-nav navbar-left d-flex flex-row"> -->
<!--                 <li class="nav-item active  mr-3"> -->
<!--                     <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a> -->
<!--                 </li> -->
<!--                 <li class="nav-item mr-3"> -->
<!--                     <a class="nav-link" href="/fleet">Our fleet</a> -->
<!--                 </li> -->
<!--                 <li class="nav-item"> -->
<!--                     <a class="nav-link" href="#">Our offices</a> -->
<!--                 </li> -->
<!--             </ul> -->
<!--             <ul class="navbar-nav navbar-right d-flex flex-row-reverse"> -->
<!--                 <li class="nav-item mr-3"> -->
<!--                     <a class="nav-link" href="#">Companies</a> -->
<!--                 </li> -->
<!--                 <li class="nav-item"> -->
<!--                     <a class="nav-link" th:if="${session.client == null}" href="/user/login">Login</a> -->
<!--                     <a class="nav-link" th:if="${session.client != null}" href="#" th:text="${session.client.userName}"></a> -->
<!--                 </li> -->
<!--             </ul> -->
<!--         </div> -->
<!--     </nav> -->

<header th:fragment="navbar">
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<div class="container">
			<a class="navbar-brand py-0" href="/"> <img src="/images/logo_alpha.png" width="auto" height="40" alt="SpringCar company logo">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/fleet">Our fleet <span class="sr-only">(current)</span></a></li>
					<!-- 				<li class="nav-item"><a class="nav-link" href="#">Link</a></li> -->
					<!-- 				<li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li> -->
				</ul>
				<ul class="navbar-nav ml-auto mt-2 mt-md-0">
					<li class="nav-item active"><a class="nav-link pr-0" href="#"><i class="fas fa-user-circle mr-2"></i>Login<span class="sr-only">(current)</span></a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>