<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: headerFragment">
	<title id="pageTitle">SpringCar | Driver Details</title>
</head>


<body>
	<div class="container bg-light">

		<!-- NAVBAR -->
		<div th:replace="fragments/navbar.html :: navbar"></div>

		<!-- ESTADO DEL PROCESO DE RESERVA -->


		<nav aria-label="breadcrumb" class="row">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Vehicle selection</a></li>
				<li class="breadcrumb-item"><a href="#">Extras</a></li>
				<li class="breadcrumb-item active" aria-current="page">Driver details</li>
				<li class="breadcrumb-item"><a href="#">Booking confirmation</a></li>
			</ol>
		</nav>


		<!-- LOGIN MENU -->

		<!-- Si el usuario está logeado, mostramos: -->
		<div th:if="${session.client != null}" class=" text-dark">
			<form th:object="${session.client}" method="get">
				<div class="form-group form-row mt-5">
					<div class="col-12 col-md-6">
						<label for="name">First Name </label>
						<input type="text" readonly class="form-control" id="name" name="name" aria-describedby="nameHelp" th:placeholder="${session.client.name}">
					</div>

					<div class="col-12 col-md-6">
						<label for="surname">Last Name </label>
						<input type="text" readonly class="form-control" id="surname" name="surname" aria-describedby="surnameHelp" th:placeholder="${session.client.surname}">
					</div>
				</div>

				<div class="form-group form-row">
					<div class="col-12 col-md-6">
						<label for="idNumber"> ID Number </label>
						<input type="text" readonly class="form-control" id="idNumber" name="idNumber" aria-describedby="idNumberHelp" th:placeholder="${session.client.idNumber}">
					</div>
					<div class="col-12 col-md-6">
						<label for="phoneNumber">Phone Number </label>
						<input type="tel" readonly class="form-control" id="phoneNumber" name="phoneNumber" aria-describedby="phoneNumberHelp" th:placeholder="${session.client.phoneNumber}">
					</div>
				</div>

				<div class="form-group form-row">
					<div class="col-12">
						<label for="email">E-mail</label>
						<input type="email" readonly class="form-control" id="email" name="email" aria-describedby="emailHelp" th:placeholder="${session.client.email}">
					</div>
				</div>
			</form>
		</div>

		<!-- Si el usuario no está logeado, mostramos: -->
		<div th:if="${session.client == null}" class=" text-dark">
			<div class="col-5 pt-3 pl-3">Please, login to proceed with your booking.</div>
			<form th:action="@{/reservation/customerdetails}" th:object="${login}" method="post">
				<div class="form-group form-row pt-3 pl-3">
					<div class="col-4">
						<label for="userName">Username</label>
						<input type="text" class="form-control" id="userName" aria-describedby="userNameHelp" name="userName" placeholder="Enter username" required>
					</div>
				</div>

				<div class="form-group form-row pt-3 pl-3">
					<div class="col-4">
						<label for="password">Password</label>
						<input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp" placeholder="Enter password" aria-required="true" required>
						<span th:if="${session.error_userAuthentification != null}" th:text="${session.error_userAuthentification}" id="passwordHelp" class="form-control"></span>
					</div>
				</div>
				<div class="col-6">
					<button type="submit" class="btn justify-content-left">Login</button>
				</div>
			</form>
			<div class="col-5 pt-3 pl-3">New User? You can register here:</div>
			<div class="col-5 text-left pt-3 pl-3">
				<button type="button" class="btn" data-toggle="modal" data-target="#registrationModalForm">Sign in</button>
			</div>
		</div>

		<!-- REGISTER MENU. SAME FORM AS REGISTRATION PAGE BUT IN A MODAL SECTION -->

		<div class="modal fade" id="registrationModalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Registration form</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">

						<form th:action="@{/reservation/customerdetails/registration}" th:object="${client}" method="post">
							<div class="form-group form-row mt-5">
								<div class="col-12 col-md-6">
									<label for="name">First Name </label>
									<input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="Enter your name" required>
								</div>

								<div class="col-12 col-md-6">
									<label for="surname">Last Name </label>
									<input type="text" class="form-control" id="surname" name="surname" aria-describedby="surnameHelp" placeholder="Enter your last name" required>
								</div>
							</div>

							<div class="form-group form-row">
								<div class="col-12">
									<label for="address">Address</label>
									<input type="text" class="form-control" id="address" name="address" aria-describedby="addressHelp" placeholder="Enter your postal address" required>
								</div>
							</div>
							<div class="form-group form-row">
								<div class="col-12 col-md-6">
									<label for="city">City </label>
									<input type="text" class="form-control" id="city" name="city" aria-describedby="cityHelp" placeholder="Enter your city" required>
								</div>

								<div class="col-12 col-md-6">
									<label for="postCode">Postal Code </label>
									<input type="text" class="form-control" id="postCode" name="postCode" aria-describedby="postCodeHelp" placeholder="Enter your postal Code number" required>
								</div>
							</div>
							<div class="form-group form-row">
								<div class="col-12">
									<label for="country">Country</label>
									<input type="text" class="form-control" id="country" name="country" aria-describedby="countryHelp" placeholder="Enter your country" required>
								</div>
							</div>
							<div class="form-group form-row">
								<div class="col-12 col-md-6">
									<label for="phoneNumber">Phone Number </label>
									<input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" aria-describedby="phoneNumberHelp" placeholder="Enter your phone number" required>
								</div>

								<div class="col-12 col-md-6">
									<label for="idNumber"> ID Number </label>
									<input type="text" class="form-control" id="idNumber" name="idNumber" aria-describedby="idNumberHelp" placeholder="Enter your ID number" required>
								</div>
							</div>

							<div class="form-group form-row">
								<div class="col-12">
									<label for="email">E-mail</label>
									<input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter your e-mail">
								</div>
							</div>

							<div class="form-group form-row">
								<div class="col-6">
									<label for="userName">Username</label>
									<input type="text" class="form-control" id="userName" name="userName" aria-describedby="userNameHelp" placeholder="Enter username" required>
								</div>
							</div>
							<div class="form-group form-row">
								<div class="col-12 col-md-6">
									<label for="password">Password</label>
									<input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp" placeholder="Enter password" aria-required="true" required>
								</div>
								<div class="col-12 col-md-6">
									<label for="passwordConfirmed">Confirm password</label>
									<input type="password" class="form-control" id="passwordConfirmed" aria-describedby="passwordConfirmedHelp" placeholder="Confirm password" aria-required="true" required>
								</div>
							</div>

							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="defaultCheck1" required>
								<label class="form-check-label" for="defaultCheck1"> I will be 18 years or oder at the time of the rental. </label>
							</div>

							<div class="col-12 text-center mt-3 mb-5">
								<button type="submit" class="btn btn-lg">Register</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div th:if="${session.client != null}" id="confirm" class="row mt-1 mb-5 ml-3 mr-3">
			<div class="col-12 ">
				<a class="btn font-weight-bold" href="/reservation/confirmation">Confirm</a>
			</div>
		</div>

		<!-- FOOTER -->
		<div th:replace="fragments/footer.html :: footer"></div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<script type="application/javascript">
   
		 function showLoginMenu() {
        $('#loginMenu').slideToggle("slow");
    }
	
	</script>


</body>


</html>